

header {
    background-color: #f9f9f9;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-height: 50px;
}

.header-links a {
    text-decoration: none;
    margin-right: 10px;
    color: #333;
}

.header-links img {
    max-height: 30px;
    margin-left: 10px;
}

